body{
  overflow-x: hidden;
}

.vote-item{
  border: 2px solid #1DA1F2;
  padding: 10px;
  color: #000;
}

.night .card-title {
<<<<<<< HEAD
  color: blue
=======
  color: black;
>>>>>>> d030722e5a967df93cf2e1f361798204406f6efd
}
